<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>1800 Bulk Bill</name>

	<description>
		Locate bulk billing Medical Centres quickly and conveniently. Detailed information provided including opening hours, directions, location, contact information.
	</description>

	<author href="http://james@t3l.co"
		email="james@t3l.co">
James Morris
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
